.App {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  font-family: 'lucida handwriting', 'comic sans ms', sans-serif;
  color: #7777dd;
  font-size: 22px;
  background: #fff;
  border: #ddddee solid 1px;
  float: left;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.left-line {
  border-left: #666699 solid 2px;
}
.square.top-line {
  border-top: #666699 solid 2px;
}
.square.bottom-line {
  border-bottom: #666699 solid 2px;
}
.square.right-line {
  border-right: #666699 solid 2px;
}

.square.invalid-one {
  background-color: #ffbfbf;
}
.square.invalid-two {
  background-color: #ff7f7f;
}
.square.invalid-three {
  background-color: #ff3f3f;
}

.invalid-hint {
  color: #ff0000;
}

input:read-only {
  font-family: times, 'times new roman', serif;
  color: #000000;
  font-size: 25px;
}
